body{
    font-family: 'Montserrat', sans-serif;
    padding: 100px;
    
}
.banktittle{
    text-align: center;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10PX;
    box-shadow: 5px 5px 10px grey;
}
#TransactionArea{
    display: none;
}
.stat{
    margin: 0 50px;
    padding: 20px;
    color: whitesmoke;
    border-radius: 10px;
}

.deposit{
    background-color: slateblue;
    
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}